:host {
  display: block;
  height: 100%;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
  &.toggle__success {
    background: green;
  }
  &.toggle_danger {
    background: red;
  }
  button {
    cursor: pointer;
  }
}
